:root {
  --navigation-color: #2196f3;
}
/*коммиты*/

body {
  color: #757575;
  background-color: #e5e5e5;
}
.name {
  color: rgb(0, 255, 106);
  background-color: #ffffff;
}
/*Секция 1 студии*/
.title-first {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2f303a;
}
.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /*color: #ffffff;*/
}
/*Шапка студия и портфолио начало*/
.header {
  font-family: "Raleway";
  font-weight: 700;
  font-display: swap;
}
.header-logo1 {
  color: var(--navigation-color);
}
.header-logo2 {
  color: #000000;
}
.navheader,
.contacts,
.button {
  list-style: none;
}
.navigation {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.header-page:hover,
.header-page:focus {
  color: #2196f3;
}
.contact {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
/*Шапка студия и портфолио конец*/
/*Начало секции портфолио*/
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/*Конец секции портфолио*/
